{namespace b=OliverThiele\OtBootstrap4\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="https://xsd.oliver-thiele.de/ns/typo3/cms-fluid/9.5/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:spaceless>
	<f:if condition="{debug} == 1">
		<f:debug>{_all}</f:debug>
	</f:if>

	<div class="container">
		<f:if condition="{settings.ot.appearance.showPageHeaderAsH1} == 1 && {data.disable_page_header} != 1">
			<h1 class="page-header">{data.title}
				<f:if condition="{data.subtitle}">
					<br /><small>{data.subtitle}</small>
				</f:if></h1>
		</f:if>

		<f:render section="Content" />

	</div>
</f:spaceless>
</html>
