{namespace b=OliverThiele\OtBootstrap4\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="https://xsd.oliver-thiele.de/ns/typo3/cms-fluid/9.5/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<head>
	<meta charset="utf-8">
	<title>Template: 12_3-6-3_12</title>
</head>
<body>

<f:layout name="DefaultLayout" />

<f:section name="Content">
	<!-- 12_3-6-3_3 template start-->
	<div class="row">
		{content3 -> f:format.raw()}
	</div><!-- row end -->
	<div class="row">
		<div class="col-lg-6 col-lg-push-3">
			<div class="row">
				{content0 -> f:format.raw()}
			</div>
		</div>
		<div class="col-lg-3 col-lg-pull-6 col-md-6">
			<div class="row">
				{content1 -> f:format.raw()}
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="row">
				{content2 -> f:format.raw()}
			</div>
		</div>
	</div><!-- row end -->
	<div class="row">
		{content4 -> f:format.raw()}
	</div><!-- row end -->
	<!-- 12_3-6-3_12 template end -->
</f:section>

</body>
</html>
